h1{
    text-align: center;
    margin-top: 100px;
}

.container{
    width: 300px;
    margin: auto auto;
}

label, input{
    display: block;
    margin-top: 1rem;        

}

#check-number{
    position: relative;
    left: 35px;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
}